.job-item-details-container {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}
.job-details-item-card {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
}
.logo-title-container {
  display: flex;
  align-items: center;
}
.company-logo {
  width: 50px;
  height: 50px;
}
.job-title {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}
.job-title-and-rating {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  line-height: 0;
}
.job-details-card {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.star {
  color: #fbbf24;
  border: none;
}
.rating {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-left: 6px;
}
.location-salary-container {
  display: flex;
}
.job-details {
  color: #ffffff;
  font-size: 15px;
  margin-left: 10px;
}
.salary {
  color: #ffffff;
  font-size: 16px;
  margin-left: auto;
}
.hr-line {
  border: 1px solid #cbd5e1;
  width: 100%;
}
.website-container {
  display: flex;
  justify-content: space-between;
}
.visit-link {
  display: flex;
  align-items: center;
  color: #6366f1;
  font-size: 20px;
  text-decoration: none;
}
.job-description-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 0;
}
.job-details-description {
  color: #f1f5f9;
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 1.5;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}
.skill-card {
  display: flex;
  align-items: center;
  width: 40%;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .skill-card {
    width: 25%;
  }
}
.details-heading {
  color: #f1f5f9;
  font-size: 20px;
  font-family: 'Roboto';
}
.skill-image {
  width: 45px;
  height: 45px;
}
.skill-name {
  color: #f1f5f9;
  font-size: 16px;
  font-family: 'Roboto';
  margin: 20px;
}
.life-at-company-card {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .life-at-company-card {
    flex-direction: row;
  }
}
.life-at-company {
  color: #f1f5f9;
  font-size: 18px;
  font-family: 'Roboto';
  line-height: 1.2;
  width: 80%;
}
@media (min-width: 768px) {
  .life-at-company {
    width: 60%;
    line-height: 1.6;
  }
}
.life-at-company-image {
  width: 80%;
  max-width: 600px;
  height: 250px;
}
@media (min-width: 768px) {
  .life-at-company-image {
    width: 40%;
    max-width: 300px;
    margin-left: 25px;
  }
}
.similar-jobs-heading {
  color: #f1f5f9;
  font-size: 25px;
  font-family: 'Roboto';
  width: 90%;
}
.similar-jobs-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding-left: 0;
}
.similar-job-logo-title-container {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.similar-job-list-container {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .similar-job-list-container {
    width: 40%;
  }
}
.retry-button {
  background-color: #6366f1;
  border: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding: 12px 18px 12px 18px;
}
.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}
.failure-view-image {
  width: 300px;
}
.failure-view-heading {
  color: #ffffff;
  font-family: 'Roboto';
}
.failure-view-description {
  color: #ffffff;
  font-family: 'Roboto';
}

.loader-container {
  display: flex;
  justify-content: center;
}
